/* Categories Menu */
.categories .navbar-nav .nav-link {
	text-transform: uppercase;
	margin-inline: 3rem;
}

.categories .navbar-nav .nav-link.active {
	border-bottom: 2px solid black !important;
}
