/* Carousel */
.carousel .carousel-image {
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-attachment: fixed;
}

.carousel .carousel-image-one {
	background-image: url('https://images.unsplash.com/photo-1523510468197-455cc987be86?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80');
}

.carousel .carousel-image-two {
	background-image: url('https://images.unsplash.com/photo-1461696114087-397271a7aedc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80');
}

.carousel .carousel-image-three {
	background-image: url('https://images.unsplash.com/photo-1504253492562-cbc4dc540fcb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80');
}

/* Categories Menu */
.categories .navbar-nav .nav-link {
	text-transform: uppercase;
	margin-inline: 3rem;
}

.categories .navbar-nav .nav-link.active {
	border-bottom: 2px solid black !important;
}

/* Photos */
.photos img {
	aspect-ratio: 1 / 1;
	max-width: 300px;
	width: 100%;
	object-fit: cover;
}

.photos .image-col {
	position: relative;
	cursor: pointer;
	display: block;
	border-radius: 0.5rem;
	overflow: hidden;
}

.photos .image-description {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	color: white;
	padding-inline: 1rem;
	z-index: 99;
	opacity: 0;
	transition: all 150ms ease-in-out;
	background-image: linear-gradient(360deg, #000000, #ffffff00);
}

.photos .image-col:hover .image-description {
	opacity: 1;
}

.photos .image-col:hover::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: black;
	opacity: 0.25;
}

@media (max-width: 575px) {
	.photos img {
		max-width: unset;
	}
}
