@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
	--bs-body-font-family: 'Lato', sans-serif;
}

body > *:where(:not(:first-child)) {
	margin-top: 1.5rem;
}

/* Photos */
.photos img {
	aspect-ratio: 1 / 1;
	width: 100%;
	object-fit: cover;
}

.photos .image-col {
	position: relative;
	cursor: pointer;
	display: block;
	border-radius: 0.5rem;
	overflow: hidden;
	transition: all 150ms ease-in-out;
}

.photos .image-description {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	color: white;
	padding-inline: 1rem;
	z-index: 99;
	opacity: 0;
	transition: all 150ms ease-in-out;
	background-image: linear-gradient(360deg, #000000, #ffffff00);
}

.photos .image-col:hover .image-description {
	opacity: 1;
}

.photos .image-col:hover {
	cursor: url(../static/images/new-tab.png) 10 10, pointer;
}

.photos .image-col:hover::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: black;
	opacity: 0.25;
}

@media (min-width: 513px) {
	.photos .image-col:hover {
		transform: scale(1.5);
		z-index: 99;
	}
}
